*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}
.navcontent image:hover{
  background-color: blue;
}

.navbar{
    display: flex;
    height: 60px;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    box-shadow: 2px 1px 5px black;
    border: 2px solid black;
}
#travel{
    margin-left: 20px;
}
#logoimage{
    padding: 0;
}
 #logoimge{
    height: 40px;
    width: 40px;
    border-radius: 5px;
 }
.logocontent{
    display: flex;
    height: 30px;
    margin: auto;
    /* width: 20%; */
}.shoptravel{
    /* margin-left: 100px; */
    width: 100px;
}
.optioncontainer{
margin-left: 20px;
margin-top: 14px;
}
.select{
    font-size: 15px;
    padding: 6px;
    margin-left: 8px;
}
.option1 i{
    font-size: 20px;
    margin: 10px;
}
.shoptravel i{
    font-size: 15px;
    margin-left: 7px;
}
.hovdiv{
    background-color: white;
    position: relative  ;
    height: 400px;
    width: 20%;
    padding: 20px 10px;
    display: none;
    position: absolute;
    top: 10%;
    left: 20%;
    z-index: 1000;

}
.hovdiv2{
    margin-top: 20px;
    padding: 10px 20px;
    border-top: 1px solid black;
}
.optioncontainer:hover .hovdiv{
    display: block;
}
.select2{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}
.option1{
    display: flex;
    color: black;
}
.getapp{
    margin-top: 5px;
    border-radius: 100px;
    border: 1px solid black;
    height: 40px;
    width: 20%;
    cursor: pointer;
    min-width: 20%;
}
.navcontent{
    display: flex;
    height: 40px;
    width: 65%;
    margin: auto;
    
}
.navcontent a:hover{
       color: rgba(107, 107, 248, 0.753);
       text-shadow: 2px 2px 10px blue;
}
.navcontent button i{
    font-size: 20px;
    padding: 1px 5px ;
}
.navcontent button:hover{
    background-color: white;
    color: blue;
    box-shadow: 2px 2px 10px -1px black;
}
a{
    text-decoration: none;
    color: black;
    display: flex;
    padding: 15px;
}
#fa-message{
    font-size: 20px;
    margin-top: 17px;
}
#fa-message:hover{
    color: blue;
    text-shadow: 2px 2px 10px blue;
}
.keyimage{
    height: 150px;
    position: relative;
    right: 40%;
    top: 20px;
}
.offercontainer{
    display: flex;
}
.services{
    margin: auto;
    margin-top: 40px;
    border: 1px solid black;
    width: 90%;
    border-radius: 10px;
    padding: 3px;

}
.srvicesitem{
    display: flex;
    margin: auto;
    border-bottom: 1px solid black;

}
.ulitem ,ul ,li{
    display: flex;
    margin: auto;
    text-decoration: none;
}
.ulitem a:hover{
    color:rgba(107, 107, 248, 0.753) ;
    border-bottom: 2px solid black ;
}
.search{
    margin-top: 3px;
    height: 80px;
    border-radius: 6px;
    justify-content: center;
    padding: 15px;
    
}
.buttons{
    display: flex;
    justify-content: center;
   
}
#Signinnav{
    background-color: blue;
    color: white;
    margin-left: 20px;
    height: 10px;
    width: 50px;
    padding: 10px 14px;
    min-width: 50px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    box-shadow: 3px 5px 7px black;
}
#bu{
    border: 1px solid black;
    padding: 4px 10px;
    margin: 2px;
    border-radius: 5px;
    width: 30%;
    height: 50px;

}#Dates{
    border: 1px solid black;
    padding: 4px;
    margin: 2px;
    border-radius: 5px;
    width: 30%;
    height: 50px;

}
#Dates i{
    float: left;
    margin: 5px;

}
#travel{
    border: 1px solid black;
    padding: 4px;
    margin: 2px;
    border-radius: 5px;
    width: 30%;
    height: 50px;

}
#Search{
    background-color: rgb(30, 41, 194);
    color: white;
    margin: auto;
    width: 7%;
    height: 40px;
    border-radius: 80px;
    cursor: pointer;
}
#Search:hover{
    background-color: rgb(79, 79, 161);
    color: white;
}
.search input{
    margin: 10px;
}
.offer{
    display: flex;
    background-color:  rgb(65, 61, 61);
    color: white;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;

}
.offerimg{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 10px;
}
#offerbtn{
    background-color: rgb(30, 41, 194);
    color: white;
     border-radius: 40px;
     width: 100px;
     height: 40px;
     margin: 19px 8px;
     cursor: pointer;
     border: none;
}
#offerbtn:hover{
    background-color: rgb(97, 97, 206);
    color: white;
}
#onekey{
    color: white;
    border-radius: 50px;
    min-width: 13%;
    height: 15px;
    margin: auto;
    padding: 10px;
}
#onekey:hover{
    color: white;
    background-color: rgb(102, 97, 97);
}
.earningcontainer{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 7px;
    padding: 20px 18px;
    display: flex;
    height: 230px;
}
.new{
    background-color: black;
    color: white;
    width: 40px;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;

}
.learnmore{
    background-color: white;
    color: blue;
    border-radius: 20px;
    border: 1px solid black;
    width: 90px;
    padding: 5px;
    font-weight: bold;

}
.earning{
    width: 50%;
    padding: 15px;
    background-color: rgba(160, 153, 153, 0.301);
    border-radius: 10px;
    height: 200px;
} 
.earningimage{
    width: 140%;
    height: 230px;
    border-radius: 10px;
}
.discover{
     display: flex;
     width: 90%;
     margin: auto;
     /* height: 200px; */
     overflow: hidden;    
     position: relative;  
}
.discover:hover .slide-button{
    opacity: 1;
}
.discoverh{
    margin: auto; 
    width: 90%;
}
.resortimage img{
    height: 300px;
    width: 225px;
    margin: 10px;
    border-radius: 20px;
}
#scrollbtn{
height: 40px;
margin: auto;
border-radius: 50%;
width: 15%;
background-color: rgb(173, 169, 169);
color: blue;
border: none;
}
.resortitem{
    font-weight: bold;
    color: white;
    position: relative;
    top: 300px;
    left: 30px;
}
.discoverchild{
    display: flex;
    width: 100%;
    transition: all 1s ease-in-out;
}
.laborday{
    background-image: url(f.jpg);
    background-size: cover;
    width: 90%;
    height: 400px;
    margin: auto;
    border-radius: 20px;
    margin-top: 50px;
}
.laborcontent{
    background-color: white;
    width: 30%;
    height: 200px;
    position: relative;
    top: 100px;
    left: 60px;
    border-radius: 10px;
    padding: 15px;
}
.unlock{    
    background-color: rgb(30, 41, 194);
    color: white;
    font-weight: bold;
    width: 40%;
    border-radius: 30px;
}
.expolrestays{
    border: 2px solid black;
    padding: 3px;
    width: 90%;
    margin: auto;
    display: flex;
}
.trendchild{
    display: flex;
}
.trendingdestination{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 280px;
    display: flex;
    width: 90%;
}
.trendingdestinationcontent{
    margin: 5px;
    height: 200px;
    width: 40%;
    padding: 5px;
    border-radius: 10px;
}
.txt{
    padding: 5px;
    margin: 0;
    border-style: inset;
}
.txt p{
    margin: 5px;
}
.discoverimage{
    height: 150px;
    width: 272px;
    border-radius: 10px;
    
}
.dealscontainer{
    width: 90%;
    margin:auto;
    background-image: url(g.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding: 20px;
    padding-top: 120px;
    border-radius: 20px;
}
.lastminute{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
#alldeals{
    background-color: white;
    color: rgba(100, 100, 241, 0.829);
    font-weight: bold;
    border-radius: 20px;
    width: 10%;
    /* border: none; */

}  
.places{
    width: 20%;
    margin-top: 20px;
    margin: 2px;
    color: white;
} 
.placesimage{
    height: 150px;
    width: 240px;
    border-radius: 30px;
}
.offerdeals{
    background-color: green;
    color: white;
    border-radius: 7px;
    width: 25%;
    padding: 1px;
}
.para{
    margin: 7px;
    margin-left: 20px;
}
.dealsimage{
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.memberprice{
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 70%;
    padding: 2px;
}
.ab{
    color: black;
    padding: 2px;
    text-decoration: underline;
}
.uniquestays{
width: 90%;
margin:auto;
display: flex;
}
.uniqueplaces{
    width: 20%;
    margin-top: 10px;
    padding: 8px;
    
}
.uniqueplaces1{
    width: 20%;
    margin-top: 10px;
    padding: 8px;
    
}
.uniqueimage{
    height: 200px;
    width: 100%;
    border-radius: 30px;
}
.abc{
    background-color: white;
    color: rgb(123, 123, 231);
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 5px;
    padding: 4px;
    align-items: center;
    width: 85%;
}
.appimage{
    width: 50%;
    padding: 5px;
}
.appimge{
    width: 100%;
    border-radius: 10px;
}
.expediaapp{
display: flex;
width: 90%;
margin: auto;
border-radius: 20px;
margin-top: 20px;
}
.apppqr{
    border-radius: 20px;
    padding: 5px;
}
.animation{
    height: 150px;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    animation:  div 1s linear  1s infinite alternate;
}
@keyframes div {
    0%{
        background-color: gray;
    }
    100%{
        background-color: rgb(77, 74, 74);
    }
}
.images{
    margin: auto;
    width: 90%;
    margin-top: 10px;
    display: flex;
}
.imagescontent{
    width: 40%;
}
.imagescontent2{
    width:90% ;
    height: 200px;
    border-radius: 15px;
}
.h11{
    margin-left: 70px;
}
.outing{
    width: 90%;
    margin: auto;
    margin-top: 29px;
    display: flex;
    height: 400px;
}
.imagescontent22{
    width:100% ;
    height: 300px;
    border-radius: 15px;
}
.imagescontent2{
    margin: 20px;
}
.links{
    border-top: 1px solid black;
    width: 90%;
    margin: auto;
    display: flex;
    height: 200px;
    overflow: scroll;
}
.linka{
    width: 50%;
}
.linka a{
    color: rgb(73, 73, 243);
}
.linka a:hover{
  text-decoration: underline;
}
.linkb{
    width: 50%;
}
.linkb a{
    color: rgb(73, 73, 243);
}
.linkb a:hover{
    text-decoration: underline;
}
.footer{
    background-color: white;
    border-radius: 10px;
    padding: 18px;
    margin: auto;
    margin-top: 20px;
}
.company{
    margin-top: 18px;
    margin-left: 20px;
    width: 30%;
}
.company a{
    color: blue;

}
.company a:hover{
    text-decoration: underline;
}
.footercontent{
    display: flex;
}
.paragraph{
    font-size: 13px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border-top: 1px solid black;
    padding: 5px;
}
.slide-button {
    position: absolute;
    top: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    /* transform: translateY(-50%); */
    background-color: rgb(219, 214, 214);
    color: blue;
    border: none;
    padding: 3px;
    cursor: pointer;
    z-index: 10;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    opacity: 0;
}
.prev {
    left: 10px;
}

.next {
    right: 10px;
}
.dealschild{
    display: flex;
    width: 100%;
    transition: all 1s ease-in-out;
}
.next2{
    position: absolute;
    top: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    /* transform: translateY(-50%); */
    background-color: rgb(219, 214, 214);
    color: blue;
    border: none;
    padding: 3px;
    cursor: pointer;
    z-index: 10;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    opacity: 0;
}
.previous2{
    position: absolute;
    top: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    /* transform: translateY(-50%); */
    background-color: rgb(219, 214, 214);
    color: blue;
    border: none;
    padding: 3px;
    cursor: pointer;
    z-index: 10;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    opacity: 0;
}
.prev {
    left: 10px;
}

.next {
    right: 10px;
}
.dealsimage:hover .next2{
    opacity: 1;
}
.dealsimage:hover .previous2{
    opacity: 1;
}
.none{
    display: none;
}
#menu{
    display: none;
}
.navcontent1{
    display: none;
}
@media screen and (max-width:450px){
    .navbar{
        width: 90%;
        margin: auto;
        font-size: 10px;
    }
    .getapp{
        width: 100%;
        height: 30px;
    }
    #menu{
        display:block;
        font-size: 20px;
        margin: auto;
        border: none;
        margin-right: 50px;
    }
    #menu:hover + .navcontent {
        display: block;
        z-index: 10;
        background-color: black;
        color: white;
        position: absolute;
        height: auto;
        right: 20px;
        top: 70px;
        border-radius: 8px;
    }
    .navcontent{
        width: 30%;
    }
    .navcontent{
        display: none;
        font-size: 10px;
    }
    .navcontent a{
        color: white;
    }
    .navcontent button{
        color: white;
        background-color: black;
        border: 1px solid white;
    }
    .logocontent{
        font-size: 13px;
        display: flex;
    }
    #logoimge{
        height: 30px;
        width: 30px;

    }
    .optioncontainer{
        display: none;
    }
  
    #fa-message{
        display: none;
    }
    #Signinnav{
        display: none;
    }
    .services{
        height: 300px;
    }
    .srvicesitem{
        font-size: 10px;
        width: 100%;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #bu{
        width: 100%;
        height: 40px;
        padding: 5px;
        margin: 5px;
    }
    #Dates{
        width: 100%;
        height: 43px;
        padding: 2px;
        margin: 5px;
    }
    #travel{
        width: 100%;
        height: 43px;
        margin: 5px;
    }
    #Search{
        width: 100%;
        margin: 5px;
    }
    .offer{
        font-size: 10px;
        width: 90%;
        height: 40px;
        margin: auto;
        margin-left: 10px;
        margin-top: 10px;
    }
    .offerimg{
        height: 50px;
        width: 50px;
    }
    #offerbtn{
        width: 70%;
    }
    #onekey{
        display: none;
    }
    .earningcontainer{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 200px;
    }
    .earningcontainer2{
        display: none;
    }
    .earning{
        width: 90%;
        height: fit-content;
    }
    .keyimage{
        display: none;
    }
    .discoverh{
        font-size: 10px;
        width: 100%;
        margin-left: 40px;
    }
    .discoverh h1{
        display: flex;
    }
    .discover{
        width: 250px;
        display: flex;
        flex-direction: column;
    }
    .laborday{
        font-size: 10px;
        width: 90%;
        height: 300px;
    }
    .laborcontent{
        width: 60%;
        height: 100px;
    }
    .unlock{
        width: 50%;

    }
    .h11{
        font-size: 16px;
        margin: 0;
    }
    .trendingdestination{
        width: 70%;
        display: flex;
        overflow: hidden;
    }
    .dealscontainer{
        font-size: 10px;
    }
    .lastminute{
        font-size: 10px;
        display: flex;
        height: 10px;
    }
    .lastminute h1{
        font-size: 15px;
    }
    #alldeals{
        width: 30%;
        height: 30px;
        border: none;
    }
    .para{
        margin: ;
    }
    .dealsimage{
        display: flex;
        width: 60%;
        font-size: 15px;
    }
    .places{
        width: 100%
    }
    .dealscontainer{
        width: 90%;
        margin-left: 30px;
        height: 450px;
    }
    .h22{
        font-size: 12px;
        width: 90%;
        margin-left: 5px;
    }
    .uniquestays{
        display: flex;
        width: 90%;
        font-size: 15px;
        height: 450px;
        margin: auto;
        
    }
    .uniqueplaces{
        display: none;
    }
    .uniqueplaces1{
        width: 90%;
        height: 430px;
        margin: auto;
    }
    .uniqecontainer{
        width: 90%;
        margin-left: 14px;
        height: 00px;
        border: 2px solid black;
        margin: auto;
    }
    .expediaapp{
        font-size: 10px;
        padding: 10px;
    }
    .appimage{
        display: none;
    }
    .apppqr{
        height: 99px;
    }
    .appcontent h1{
        font-size: 14px;
    }
    .animation{
        margin: auto;
        margin-top: 20px;

    }
    .images{
        display: none;
    }
    .outing{
        display: none;
    }
    .travelword{
        font-size: 15px;
        margin-top: 30px;
    }
    .links{
        font-size: 10px;
    }
    .footer{
        font-size: 10px;
    }
    .paragraph{
        font-size: 10px;
    }
}